.group-creator {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 524px;

    & > div {
        padding: 1%;
    }

    &__groups {
        background-color: @body-background-dark;
        width: 25%;
    }

    &__builder {
        width: 50%;
    }

    &__editor {
        background-color: @body-background-dark;
        width: 25%;
    }
}
